$dark = #0D1B2A
$dark_light = #1B263B
$light = #A0AABA
$sec = #93B3C9
$prime = #FF264A

*
	padding 0
	margin 0 auto

html
	margin 0 auto
	background-color $dark
	color $light
	font-family 'Open Sans', sans-serif
	text-align center
h2.intro
	font-size 15px
p.intro
	padding-top 5%
	width 500px
svg.logo
	padding-top 5%
	width 500px
svg.logo text
	font-size 50px
	display inline
.env
	fill none
	stroke $dark_light
	stroke-width 8
	stroke-miterlimit 10
.first-name
	fill $sec
	font-weight 700
.last-name
	fill $prime
	font-weight 800
.icons-home
	text-align center
	padding-top 2%