include ./img/fg.svg
canvas#zodiac
h2.intro developer
p.intro Jovem nerd, padawan em node.js, aprendiz de feiticeiro angular, ilustrador amador de folhas de caderno, fazedor Ágil de café, também gosto de estudar sobre empreendedorismo, moedas digitais, internet das coias e handlettering.
div.icons-home
	a.icon(href='https://github.com/fernandoGuisso' aria-label='Meu github')
		include ./img/github.svg
	a.icon(href='https://www.facebook.com/guisso.demolay' aria-label='Meu facebook')
		include ./img/facebook.svg
	a.icon(href='https://twitter.com/nandoGuisso' aria-label='Meu twitter')
		include ./img/twitter.svg
	a.icon(href='mailto:fguisso@gmail.com' aria-label='Enviar email')
		include ./img/at.svg