doctype html
html
 head
  title Fernando Guisso - Developer
  link(text='text/css' rel='stylesheet' href='assets/styles/style.css')
  link(type='text/css' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,800')

 body
  h1 Hello World!
  h2 don't worry
  p It's the first tests.