doctype html
html
 head
  title Fernando Guisso - Developer
  link(text='text/css' rel='stylesheet' href='assets/styles/style.css')
  link(type='text/css' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,800')

 body
  include html ../../../../assets/images/fg.svg
  h2 don't worry
  p It's the first tests.