doctype html
html
 head
  title Fernando Guisso - Developer
  meta(charset='utf-8')
  link(text='text/css' rel='stylesheet' href='assets/styles/style.css')
  link(type='text/css' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800')

 body
  include html ../../../../assets/images/fg.svg
  h2.intro developer
  p.intro Jovem nerd, padawan em node.js, aprendiz de feiticeiro angular, ilustrador amador de folhas de caderno, fazedor Ágil de café, também gosto de estudar sobre empreendedorismo, moedas digitais, internet das coias e handlettering.
  div.icons-home
   a.icon.icon-github(href='https://github.com/fernandoGuisso' aria-label='Meu github')
   a.icon.icon-facebook(href='https://www.facebook.com/guisso.demolay' aria-label='Meu facebook')
   a.icon.icon-twitter(href='https://twitter.com/nandoGuisso' aria-label='Meu twitter')
   a.icon.icon-at(href='mailto:fguisso@gmail.com' aria-label='Enviar email')